DJANGO_SETTINGS_MODULE=config.settings.prod
DJANGO_DEBUG=false
DJANGO_SECRET_KEY=change-me

PUBLIC_SCHEME=https
SITE_DOMAIN=xn--b1apekb3anb5cpb.xn--p1ai
API_DOMAIN=api.xn--b1apekb3anb5cpb.xn--p1ai
NEXT_PUBLIC_API_BASE_URL=/api/v1
NEXT_PUBLIC_SITE_URL=https://xn--b1apekb3anb5cpb.xn--p1ai
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_YANDEX_VERIFICATION=

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
YANDEX_OAUTH_CLIENT_ID=
YANDEX_OAUTH_CLIENT_SECRET=
VK_OAUTH_CLIENT_ID=
VK_OAUTH_CLIENT_SECRET=
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=

BACKEND_IMAGE=ghcr.io/overl1te/ecodesman-server:latest
FRONTEND_IMAGE=ghcr.io/overl1te/ecodesman-web:latest

DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0,194.67.66.200,api.xn--b1apekb3anb5cpb.xn--p1ai,xn--b1apekb3anb5cpb.xn--p1ai,www.xn--b1apekb3anb5cpb.xn--p1ai
DJANGO_CSRF_TRUSTED_ORIGINS=http://194.67.66.200,https://api.xn--b1apekb3anb5cpb.xn--p1ai,https://xn--b1apekb3anb5cpb.xn--p1ai,https://www.xn--b1apekb3anb5cpb.xn--p1ai
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:3000,http://194.67.66.200,https://api.xn--b1apekb3anb5cpb.xn--p1ai,https://xn--b1apekb3anb5cpb.xn--p1ai,https://www.xn--b1apekb3anb5cpb.xn--p1ai

DJANGO_SERVE_MEDIA=false
DJANGO_USE_S3_MEDIA=true

POSTGRES_DB=econizhny
POSTGRES_USER=econizhny
POSTGRES_PASSWORD=change-me

WEB_PORT=80
API_BIND_PORT=18000
FRONTEND_BIND_PORT=13000
WEB_CONCURRENCY=3
APP_LOG_LEVEL=INFO

BACKUP_TIMEZONE=Europe/Moscow
BACKUP_SCHEDULE_HOUR=3
BACKUP_SCHEDULE_MINUTE=0
BACKUP_RETENTION_DAYS=7
BACKUP_S3_PREFIX=ops
BACKUP_S3_BUCKET_NAME=
BACKUP_RUN_ON_START=false

AWS_STORAGE_BUCKET_NAME=
AWS_S3_ENDPOINT_URL=
AWS_S3_ACCESS_KEY_ID=
AWS_S3_SECRET_ACCESS_KEY=
AWS_S3_CUSTOM_DOMAIN=
AWS_S3_ADDRESSING_STYLE=path
AWS_S3_SIGNATURE_VERSION=s3v4
AWS_S3_VERIFY=/etc/ssl/certs/ca-certificates.crt
AWS_QUERYSTRING_AUTH=false
AWS_DEFAULT_ACL=
AWS_S3_OBJECT_ACL=public-read
AWS_LOCATION=
AWS_S3_REGION_NAME=
